
.button-unhovered{
    line-height:60px;
    width:200px;
    height:60px;
    text-align:center;
    border:2px solid #6e6e6e;
    border-radius: 15px;
}

.button-hovered{
    line-height:60px;
    width:200px;
    height:60px;
    text-align:center;
    border:2px solid #004f59;
    border-radius: 15px;
}

.button-text-unhovered{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:20px;
    color:#6e6e6e;
}

.button-text-hovered{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size:20px;
    color: #004f59;
}