
/* home page styles */
.home-page-window{
    height:100%;
    width:100%;
}

.full-half{
    vertical-align: top;
    position:relative;
    height:70%;
    width:100%;
    border-bottom:1px solid #dedede;
}

.left-half{
    vertical-align: top;
    display:inline-block;
    position:relative;
    height:70%;
    width:55%;
}

.right-half{
    display:inline-block;
    position:relative;
    height:70%;
    width:45%;
}

.home-image{
    position:relative;
    width:100%;
    height:auto;
}

.intro-block{
    text-align:left;
    position: relative;
    top:40%;
    left:10%;
}

.hello-world-font{
    display: inline-block;
    /*font-family: 'Roboto', sans-serif;*/
    /*
    font-family: 'Montserrat', sans-serif;
    */
    font-family: 'Raleway', sans-serif;
    font-size:60px;
    font-weight: bold;
    color:black;
    margin:0;
}

.name-font{
    display: inline-block;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-size:60px;
    font-weight: bold;
    color:#004f59;
    margin-left:-15px;
}

.short-intro-font{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Raleway', sans-serif;

    font-size:20px;
    color:#474747;
    margin-top:50px;
}

.button-block{
    position:relative;
    top:50%;
    left:10%;
    height:100%
}

.computer-block{
    position:absolute;
    top:40%;
    left:20%;
    height:auto;
    width:70%;
}

.slides-block{
    position:absolute;
    top:0%;
    left:0%;
    width:auto;
    height:auto;
}

.slide-img{
    position:relative;
    margin-top:43.5%;
    margin-left:19%;
    width:72%;
    height:auto;
}

/* header styles */
.header-banner{
    width:100%;
    height:85px;
    background-color:black;
    line-height:70px;
}

.header-block{
    position: relative;
    left:55%;
}

.header-font{
    text-decoration: none;
    display:inline-block;
    margin-left:30px;
    font-family: 'Raleway', sans-serif;
    font-size:17px;
    color:white;
}
.header-banner a:link {
    color: white;
}

/* visited link */
.header-banner a:visited {
    color: white;
}

.header-banner a:hover{
    color:white;
    text-decoration: none;
}

/* about me page styles */
.first-section{
    position:relative;
    width:100vw;
    height:750px;
    box-shadow: 0 1px 2px gray;
}

.about-me-block{
    position:relative;
    display:inline-block;
    left:30%;
    top:20%;
}

.about-me-header{
    font-family: 'Raleway', sans-serif;
    font-size:72px;
    font-weight: bold;
    margin:0;
}

.about-me-paragraph-text{
    font-family: 'Raleway', sans-serif;
    font-size:20px;
}

.image-block{
    position:relative;
    display:inline-block;
    top:15%;
    left:40%;
    width:62%;
    height:500px;
}

.grad_pic{
    height:auto;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-image-block{
    position:relative;
    display:inline-block;
    vertical-align:top;
    top:15%;
    left:0px;
    width:100px;
    height:500px;
}

.side-img-hovered{
    opacity:1;
    transition:0.4s;
    left:20px;
    width:250%;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.side-img-unhovered{
    opacity:0.60;
    transition:0.4s;
    max-width:100%;
    height:auto;
    margin-bottom:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.second-section{
    position:relative;
    top:-70px;
    background-color:#f2f2f2;
    width:100vw;
    height:1300px;
    box-shadow: 0 1px 2px gray;
}

.experience-block{
    position:relative;
    top:25%;
    left:30%;
    height:100%;
    width:50%
}

.experience-text{
    font-family: 'Raleway', sans-serif;
    font-size:72px;
    font-weight: bold;
}

.uci-block{
    position:relative;
    left:0px;
    top:0px;
}

.education-header{
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    font-weight: bold;
    color:black;

    width:90%;
    border-bottom:solid 1px gray;
}

.uci-logo{
    position:relative;
    display: inline-block;
    top:0px;
    left:0px;
    width:30%;
    height:auto;
}

.lspire-logo{
    position:relative;
    display: inline-block;
    top:0px;
    margin-right:50px;
    width:120px;
    height:auto;
}

.uci-text{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    font-weight: bold;
    color:black;
}

.lspire-text{
    display: inline-block;
    margin-top:0px;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    font-weight: bold;
    color:black;
}

.year-text{
    display: inline-block;
    margin-left:0px;
    margin-top:0px;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    color:black;
}

.relevant-course{
    margin-left:0px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    color:black;
}

.course-list{
    list-style-type:circle;
    margin-left:0px;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    color:black;
}

.bubble-block{
    position:relative;
    margin-left:0px;
    margin-top:0px;
    height:200px;
}

.bubble-break{
    height:10px;
}

.ed-work-spacing{
    position:relative;
    height:75px;
    width:auto;
}

/*---PROJECT PAGE---*/
.project-section{
    position:relative;
    top:-70px;
    width:100vw;
    height:1300px;
}

.project-page-left-spacing{
    position:relative;
    top:75px;
    left:300px;
}

.project-block{
    position:relative;
    left:0px;
    top:-50px;
}

.project-info-right{
    position:relative;
    display:inline-block;
    left:700px;
}

.project-info{
    position:relative;
    display:inline-block;
}

.project-screenshot{
    position:relative;
    display:inline-block;
    vertical-align: top;
    margin-left:50px;
    width:650px;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.project-title{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    font-weight: bold;
    color:black;
}

.project-points{
    list-style-type:circle;
    margin-left:0px;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    color:black;
}

.project-bubble-block{
    position:relative;
    margin-left:0px;
    margin-top:40px;
}

.project-spacing{
    height:200px;
}

.other-projects-section{
    position:relative;
    top:100px;
    height:750px;
    width:100vw;
}

.other-proj-header{
    position:relative;
    font-family: 'Raleway', sans-serif;
    font-size:50px;
    font-weight: bold;
    left:400px;
}

.horizontal-row{
    position:relative;
    width:1500px;
    height:400px;
}

.single-proj{
    position:relative;
    vertical-align:top;
    display:inline-block;
    margin-right:100px;
    background-color:#f2f2f2;
    width:400px;
    height:375px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.single-proj-title{
    position:relative;
    top:20px;
    left:20px;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    font-weight: bold;
    color:black;
}

.single-proj-text{
    position:relative;
    top:20px;
    left:20px;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    color:black;
}

.single-proj-bblock{
    position:relative;
    margin-left:20px;
    top:40px;
}